/* ****************** GLOBAL ****************** */
h1,
h2,
p {
  font-family: "Poppins", sans-serif;
}

/* ****************** HEADER ****************** */
header {
  display: flex;
  gap: 20px;
  padding: 20px;
}
header img {
  width: 75px;
}
/* ****************** MAIN ****************** */
main {
  background-color: #f0eef1;
}
#libraryContainer {
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
}
.bookCard {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  word-wrap: break-word;
}
.bookTitleContainer {
  font-style: italic;
  margin: 0;
  font-size: 1.2rem;
}
.bookAuthorContainer {
  margin: 0;
}
.bookPagesContainer {
  margin: 0;
}
.green {
  background-color: #9fff9c;
}
.red {
  background-color: #ff9c9c;
}
.bookReadContainer {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 0;
}
.deleteButton {
  border-radius: 5px;
  padding: 5px;
  background-color: #f0eef1;
  cursor: pointer;
  margin: 0;
}
