/* ****************** GLOBAL ****************** */
h1,
h2,
p {
  font-family: "Poppins", sans-serif;
}

/* ****************** HEADER ****************** */
header {
  display: flex;
  gap: 20px;
  padding: 20px;
}
header img {
  width: 75px;
}
/* ****************** MAIN ****************** */
main {
  background-color: #f0eef1;
}
#libraryContainer {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.bookCard {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
